body {
    background-color: black;
    color: white;
}

h1.center {
    text-align: center;
}

.nav-bar {
    background-color: rgb(63, 65, 66);
    overflow: hidden;
    border-radius: 10px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    border: 10px;
    border-color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    float: left;
}

.nav-bar a:hover {
    background-color: rgb(109, 103, 103)
}

code {
    background-color: rgb(109, 103, 103);
    color: white;
}

.navigation {
    padding-top: 30px;
}

.navigation a {
    background-color: rgb(63, 65, 66);
    text-decoration: none;
    color: white;
    border: 10px;
    border-color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    float: left;
    border-radius: 10px;
}

button.nextpage {
    background-color: rgb(63, 65, 66);
    text-decoration: none;
    color: white;
    border: 10px;
    border-color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    float: right;
    border-radius: 10px;
}